.sidepanel {
  max-width: 360px;
  width: 26%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  top: 50px;
  right: 0px;
  font-size: 20px;
}

.question-list {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.question-bubble-unopened {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.question-bubble-unattempted {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: rgba(255, 0, 0, 0.5);
}

.question-bubble-attempted {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: rgba(0, 255, 0, 0.5);
}

.question-bubble-marked-for-review {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: rgba(255, 165, 0, 0.5);
}

.question-bubble-answered-and-marked-for-review {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: rgba(0, 0, 255, 0.5);
}

.status {
  height: 50%;
  background-color: #f4f4f4;
  display: flex;
}

.question-bubble-status {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
}

.status-bar-text {
  font-size: 10px !important;
}

@media screen and (max-width: 1250px) {
  .question-bubble-status {
    width: 40px !important;
    height: 40px !important;
    margin: 10px !important;
  }
}
#unattempted {
  background: rgba(255, 0, 0, 0.5);
}

#answered-and-marked-for-review {
  background: rgba(0, 0, 255, 0.5);
}

#attempted {
  background: rgba(0, 255, 0, 0.5);
}

#marked-for-review {
  background: rgba(255, 165, 0, 0.5);
}

.status h3 {
  font-size: 13px;
  font-weight: 500;
}

.question-container {
  height: 60%;
  overflow-y: auto;
}
